/* :root {
    --font-size-base: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Gör att body fyller hela höjden och använder flex */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Main växer och trycker ner footern */
  main {
    flex: 1;
  }
body {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    min-height: 100vh;
    background-image: url('assets/img/greenleaf.webp');  /* Först försöker webbläsaren ladda WebP */
    background-image: url('assets/img/greenleaf.jpg');
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    /* height: auto;
    overflow: auto;  */
    
}


.navbar {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: auto;
    /* background-color: #003E00;  */
    border-bottom: 2px solid rgba(129, 186, 67, 0.7);
    box-shadow: 0 4px 30px -2px #003E00;
}

.hamburger {
    cursor: pointer;
    display: none; /* Döljer hamburgermenyn som standard */
  
    color: #B0EE6F; 
}

.hamburger.active {
    content: '\00D7'; /* Unicode för X-symbol */
}

.nav-links a {
    color: #B0EE6F; 
    background-color: #003E00;
    text-decoration: none; /* Ta bort understrykning */
    padding: 1rem; /* Lägg till lite padding för bättre klickbarhet */
    font-size: 2rem;
    font-weight: 555;
}

.nav-links a:hover {
    color: #81BA43; 
}


.profile-image {
    float: right;
    top: 0;
    right: 0;
    position: relative;
    max-width: 129px; /* Sätter en maxbredd för att förhindra att den blir för stor */
    border-radius: 50%; /* Gör bilden rund */
    object-fit: cover; /* Gör så att bilden täcker hela området utan att förvrängas */
    border: 3px solid #81BA43;
    cursor: pointer;
    transform: translate(-50%, 0); /* Centrera horisontellt, men vertikalt sätt till 0 */
    transition: top 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    width: 8rem; 
    /* margin-right: -3rem;  */
}

/* Hovringseffekt */
.profile-image:hover {
    transform: translate(-50%, 0) scale(1.05); /* Liten inzoomning vid hovring */
    transition: transform 0.5s ease-in-out; /* Justera animeringen */
}

/* Förstora profilbilden till helskärm vid klick */
.profile-image.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; 
    height: auto;
    max-width: 35rem; /* Maxstorlek för bilden */
    max-height: 35rem; /* Maxstorlek för bilden */
    margin: 1; /* Centrerar bilden */
    border-radius: 0;
    object-fit: contain;  /* Gör att bilden behåller sina proportioner utan att bli beskuren */
    z-index: 1000; /* Se till att den ligger över allt annat */
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out; /* Justera animeringen */
}


/* Lägg till en mörk overlay bakom bilden */
.profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
}

.text-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left; 
    margin-top: 11rem;
    margin-bottom: 14rem;
}

.text-padding {
    padding: 1.5rem 1rem; 
    background-color: rgba(179, 235, 127, 0.51);
    border: 2px solid rgba(129, 186, 67, 1); 
    box-shadow: 0 4px 30px -2px #003E00;
    height: auto;
    min-height: 20rem;
    width: 100vw; 
    margin: 0;
}

h1 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    font-weight: 800;
    margin-bottom: -1rem;
    padding: 0.5rem;
}
.text-container p {
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem); /* Responsiv textstorlek */
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 0.6rem;
}

.letter {
    display: inline-block; /* Håller bokstäverna på samma rad */
    /* opacity: 1; */
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out,  transform 0.2s ease-in-out;
}

.letter.active {
    color: #B0EE6F;
    /* opacity: 1; */
    transform: translateY(-10px) scale(1.3); /* Höj bokstaven och förstora den något */
}

.buttons {
    background-color:#B0EE6F;
    width: 14.69rem;
    height: 3.5rem;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem); 
    border-radius: 16px;
    font-weight: 700;   
    box-shadow: -2px 3px 5px;
    border: 5px solid rgba(0, 62, 0, 1);
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 1rem;
    margin-right: 0.5em;
    padding: 0.3rem;
    line-height: 2rem;
}


 .buttons:hover {
   background-color: rgba(255, 255, 255, 0);
    color: white;
 }

 .footer {
    display: flex; 
    position: relative;
    bottom: auto;
    background-color: #003E00; /* Samma färg som bakgrunden */
    /* height: 12dvh;  */
    height: auto;
    justify-content: space-between; /* Gör att innehållet sprids ut */            
    align-items: center; /* Centra vertikalt */
    padding: 1rem 2rem;
    color: white;
    border-top: 2px ridge rgba(129, 186, 67);
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
 }
        
.footer a {
    color: white;
    text-decoration: none;
 }
        
        
.social-icons {
    display: flex;
    gap: 2rem; /* Avstånd mellan ikonerna */
    margin-top: 0.5rem; /* Marginal ovanför ikonerna */
}
        
.social-icons a {
    color: #B0EE6F; 
    font-size: 2.5rem; 
 }
        
.social-icons a:hover {
    color: #81BA43; 
 }


 /* Mobilvyn - när skärmen är mindre än 768px */
@media (max-width: 768px) {

    body {
        background-color: #003E00;
        background-image: none;
        margin: 0;
        overflow:auto;
    }

    .navbar {
        border-bottom: #66C800 solid 0.35rem;
        padding: 4.5rem 1rem; 
    }

    /* Visa hamburgermenyn och dölj nav-länkar */
    .hamburger {
        display: block; /* Visa hamburgermenyn i mobilvyn */
        position: relative;
        z-index: 3000;
        font-size: 3.75rem;
    }


    .nav-active .hamburger {
        content: '\00D7'; /* Visa kryss när menyn är öppen */
    }

    .nav-links {
        display: none; /* Dölj länkarna i mobilvyn */
        flex-direction: column; /* Länkarna i en kolumn när de visas */
         background-color: #003E00; 
        position: absolute;
        top: 12rem; /* Placering under navbaren */
        left: 0;
        width: 100%;
    }

    .nav-active {
        display: flex; /* När hamburgermenyn aktiveras visas länkarna */
        background-color: #003E00;
    }

    .profile-image {
        object-fit: cover; /* Anpassar bilden utan att förvränga den */
        border-radius: 25%; /* Ta bort rundade hörn i mobilvyn */
        transition: transform 0.5s ease-in-out;
    }

    .profile-image.fullscreen {
        width: 100vw; /* Se till att bilden fyller skärmens bredd */
        height: auto; /* Behåll proportionerna */
    }

    /*Textruta under profilbilden */
    .text-container { 
         height: 20dvh; /* Använd dvh i mobilvyn för att undvika problem med sökfält */
         justify-content: center;
         align-items: center; 
         text-align: center; 
         padding: 8rem 2rem; /* Minskat padding med rem (uppifrån/ner 1rem, från sidorna 2rem) */
         margin-top: 10.5rem; 
         margin-bottom: 0.5rem; /* Minska marginalen under containern */
    }

    .text-padding {
        background-color: #81BA43;
        border: #66C800 solid 1px;

    }

    .text-container p {
        font-size: clamp(1rem, 2vw + 1rem, 2rem); /* Responsiv textstorlek */
        margin:0, 0;
        padding: 0;
    }

      h1 {
        margin-bottom: 0.1rem; /* Minska mellanrummet */
        font-weight: 700;
    }

    .text-container p:first-of-type {
        font-size: 0.75rem; 
        font-weight: 700; 
    }

    /* För texten "Jag är snart fullstackutvecklare" */
    .text-container p:last-of-type {
        font-size: 0.75rem; 
    }

   .buttons {
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    padding: 0.312rem;
    margin: 0.5rem; /* Liten marginal mellan knapparna */
    border-radius: 10px;
    box-shadow: 1px 3px 5px;
    border: 0.25rem solid #003E00;
    color: black;
}

    .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera knapparna horisontellt */
    align-items: center; /* Centrera knapparna vertikalt om det behövs */
    width: 100%; /* Låt containern ta upp hela bredden av sin förälder */
    margin-top: 1rem; /* Marginal ovanför knapparna */
    }

    /* Placera fotnoten direkt under textcontainern i mobilvyn */
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0.5rem; 
        margin-top: 1rem;
        box-shadow: none;
    }

    .social-icons {
        /* justify-content: center; */
         /* Avstånd mellan ikonerna */
        gap: 2.5rem;
        padding-top: 1rem;
        margin-bottom: env(safe-area-inset-bottom); /* Lägger till extra marginal om Safari-fältet är i vägen */
    }

    .social-icons a {
        font-size: 2.8rem; /* Justera värdet för att göra ikonerna större */
    }

    .footer-text {
        text-align: center;
        font-size: 16px;
        margin-top: 0.6rem;
        padding-bottom: 0.9rem;
        width: 100%;
      
    }

    
} */
